@tailwind base;
@tailwind components;
@tailwind utilities;

.perspective-1000 {
  perspective: 1000px;
}

.transform-style-3d {
  transform-style: preserve-3d;
}

.gift-container {
  width: 18rem !important;
  height: 18rem !important;
}

@media (min-width: 640px) {
  .gift-container {
    width: 18rem !important;
    height: 18rem !important;
  }
  .grid-responsive {
    grid-template-columns: repeat(3, 1fr) !important;
  }
}

@media (min-width: 768px) {
  .gift-container {
    width: 20rem !important;
    height: 20rem !important;
  }
}

@keyframes float {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
}
